{% extends "base.html" %}
{% block title %}{{ challenge.title }} - Crackle{% endblock %}
{% set page = "challenges" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="detail-container">

  <h1 class="detail-title">{{ challenge.title }}</h1>

  <div class="detail-text">
    {% for line in challenge.description %}
      <p>{{ line }}</p>
    {% endfor %}
  </div>

  <button class="action-btn"
          onclick="location.href='/challenges/{{ challenge.id }}/edit'">
    서버 생성하기 🔧
  </button>

</div>

{% endblock %}
